body {
  background-color: #B6C199;
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  display: flex;
  width: 80%;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
}

.subText {
  width: 80%;
  margin: auto;
}

.title {
  margin: auto;
}

.buttonDiv {
  width: 15%;
  margin: auto;
}

label {
  margin: auto;
}

.hidden {
  display: none;
}

#answer {
  border: 1px dotted;
  margin: 10px;
  padding: 10px;
}

img {
  width: 30%;
  height: 50%;
  margin: auto;
  border: 2px solid;
}
