body {
  background-color: #B6C199;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  width: 80%;
  flex-direction: column;
  border: 1px solid;
}

.subText {
  width: 80%;
  margin: auto;
}

.title {
  margin: auto;
}

.buttonDiv {
  width: 15%;
  margin: auto;
}

label {
  margin: auto;
}

.hidden {
  display: none;
}
